<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-luis-ruiz-dashboard-styles.html">
<dom-module id="cells-luis-ruiz-dashboard">
  <script src="cells-luis-ruiz-dashboard.js"></script>
</dom-module>