<dom-module id="cells-luis-ruiz-dashboard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  text-align: center;
  @apply --cells-luis-ruiz-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host img {
  width: 100px;
  height: 100px;
  border-radius: 50px; }

</style></template></dom-module>